* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
}


body {
    background: linear-gradient(135deg, #2B124C, #522B5B); 
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 20px;
}


.card-container {
    background-color: #FBE4D8; 
    color: #190019;            
    width: 100%;
    max-width: 1100px;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    
    display: flex;
    flex-direction: column;
    gap: 40px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #190019;
}

header nav a {
    text-decoration: none;
    color: #522B5B;
    margin: 0 15px;
    font-size: 14px;
    font-weight: normal;
}


.conteudo-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.lado-texto {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 15px;
}

.saudacao {
    font-size: 16px;
    color: #854F6C;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    line-height: 1.1;
    color: #190019;
}

.destaque {
    color: #522B5B; 
}

h2 {
    font-size: 24px;
    font-weight: 300;
    color: #522B5B;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #522B5B; 
    max-width: 450px;
    margin-bottom: 20px;
}


.botoes-acao {
    display: flex;
    gap: 15px;
}

button {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: bold;

    transition: transform 0.2s;
    font-size: 14px;
}

.btn-primary {
    background-color: #190019; 
    color: #FBE4D8;            
    border: none;
}

.btn-secondary {
    background-color: transparent;
    color: #190019;
    border: 1px solid #DFB6B2; 
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}


.lado-imagem {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-borda {
    width: 350px;
    height: 350px;
    border-radius: 50%; 
    border: 2px solid #DFB6B2; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
    filter: grayscale(100%); 
}


@media (max-width: 768px) {
    .conteudo-principal {
        flex-direction: column-reverse; 
        text-align: center;
    }

    .lado-texto {
        align-items: center; 
    }

    .card-container {
        padding: 20px;
    }

    .circulo-borda {
        width: 250px;
        height: 250px;
    }
}



