* {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  background-color: #2b124c;
  color: #fbe4d8;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.title {
  display: flex;
  flex-direction: column
  gap: 5px;
  background-color: #190019
  padding: 25px 55px;
  border-radius: 20px;
}
h1 {
  font-size: 42px;
  text-align: center;
}
h2 {
  font-weight: 300;
  color: #dfb6b2;
}
p {
  max-width: 700px;
  text-align: center
  line-height: 1.6;
  color: #dfb6b2;
}
.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem {
  width: 245px;
  height: 235px;
  backgroud-color: #522b5b;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
button {
  background-color: #854f6c;
  color: #fbe4d8;
  border: none;
  padding: 15px 40px;
  border: none;
  padding: 12px 35px;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  background-color: #dfb6b2;
  color: #190019;
}






